.elem:last-child {
    border-bottom: 1px solid #ffffff;
}
a {
    color: #fff;
    text-decoration: none;
}
@font-face {
    font-family: 'GeneralSans';
    src: url('fonts/GeneralSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('fonts/GeneralSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: 'GeneralSans', Arial, sans-serif;
    font-weight: 500;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}

html, body {
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    pointer-events: none;
    mix-blend-mode: difference;
    transform-origin: 50% 50%;
    will-change: transform, opacity;
}


/* # NAVBAR ------------------------------------------------- */

nav{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    /* position: fixed; */
}

nav h3{
    margin: 0px;
}

#menubtn{
    border: none;
    background: transparent;
    color: white;
    font-size: 15px;
}

/* # HERO SECTION ------------------------------------------------- */
#Hero{
    padding: 40.2px;
    padding-top: 35px;
    padding-bottom: 10px;
    height: 100vh;
    width: 100%;
}

#ProdDis {
  display: grid;
  text-transform: uppercase;
  width: max-content;
  margin-top: 75px;
}


.Bounding{
    overflow: hidden;
    width: fit-content;
    /* background-color: red; */
}

.Bounding .Boundingelem{
    transform: translateY(0%);
}

.product{
    font-size: 10vw;
    color: #a3a3a3;
    font-weight: 500;
    line-height: .9;
    /* margin-left: -8px; */
}

.Designer{
    font-size: 10vw;
    color: #a3a3a3;
    font-weight: 500;
    line-height: .9;
    margin-left: 1.05em;
}

.Based{
    display: flex;
    color: #a3a3a3 ;
    flex-direction: column;
    align-items: end;
    justify-content: right;
    margin-top: 12.8px;
    
}

#avalable{
    text-transform: uppercase;
    display: grid;
    margin-top: 160.8px;
    
}

.avalable{
    display: flex;
    justify-content: right;
    font-weight: 500;
}

.work{
    display: flex;
    justify-content: right;
    font-weight: 500;
}

.link{
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    margin-top: 15vh;
    margin-bottom: 20px;
}

/* .hero-link{
    display: grid;
} */

.link a{
    display: flex;
    gap: 5px;
    
}

.arrow-btn{
    display: flex;
    gap: 5px;
}

.circle{
    background-color: white;
    
    color: black;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle i{
    font-size: 22px;
}

/* # SECOND SECTION ------------------------------------------------- */

#second{
    height: 100%;
    width: 100%;
}

.container{
    padding: 40.2px;
    padding-top: 150px;
    height: 100%;
    width: 100%;
}

.border{
    padding-right: 124px;
}

.elem{
    /* background-color: #cb8383; */
    /* font-family: 'GeneralSans'; */
    display: flex;
    /* padding: 20px; */
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    border-top: 1px solid #a3a3a3;
    /* padding-right: 140px; */
    font-weight: 500;
    color: #a3a3a3;
    position: relative;
    overflow: hidden;
}

.elem img{
    /* display: none; */
    opacity: 0;
    height: 140%;
    z-index: 9999;
    position: absolute;
    border-radius: 15px;
    pointer-events: none;
}

.elem h1{
    font-size: 110px;
    color: #a3a3a3;
    font-weight: 500;
    line-height: .9;
    text-transform: uppercase;  
}

.elem-last{
    display: flex;
    /* padding: 20px; */
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    border-top: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3 !important;
    /* padding-right: 120px; */
    font-weight: 500;
    color: #a3a3a3;
    position: relative;
    overflow: hidden;
}

.elem-last img{
    /* display: none; */
    opacity: 0;
    border-radius: 15px;
    height: 140%;
    z-index: 9999;
    position: absolute;
    pointer-events: none;
}

.elem-last h1{
    font-size: 110px;  
    color: #a3a3a3;
    font-weight: 500;
    line-height: .9;
    text-transform: uppercase;  
}

.view-work{
    border-radius: 25px;
    border: 0.5px solid white;
    color: white;
    background-color: transparent;
    padding: 15px 30px;
    margin-top: 50px;
}
.view-work h3{
    margin: 0px;
    /* font-weight: 400; */
}

.view-work:hover{
    background-color: #fff;
    color: #000000;
    transition: background 0.4s, color 0.4s, border 0.4s; 
    /* font-weight: 1000; */
}


/* # Third SECTION ------------------------------------------------- */


#Third {
    margin: 180px 0px; /* or any value you like */
}

.logo-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    border-top: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3 !important;
}


/* # About Me SECTION ------------------------------------------------- */

.pro-container{
    padding: 40.2px;
    padding-top: 90px;
    padding-bottom: 13px;
    min-height: 100vh;
    width: 100%;
    font-weight: 400;
    margin-top: 50px;
}

.profile{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.pic{
    border-radius: 100%;
    height: 280px;
    width: auto;
}

.p-box{
    width: 500px;
    height: auto;
    font-size: 20px;
    line-height: 3.5vh;
}
.p-box h2{
    margin: 0px;
}
.p-box p{
    margin: 3px;
    
}

.Lets-talk{
     border-radius: 25px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding: 7px 20px;
    margin-top: 24px;
}
.Lets-talk h3{
    margin: 0px;
}
.Lets-talk:hover{
    background-color: #fff;
    color: #000000;
    transition: background 0.4s, color 0.4s, border 0.4s; 
}

.yt{
    color: #a3a3a3;
    text-transform: uppercase;
    margin-top: 260px;
}
.yt h5{
    margin: 0px;
    font-weight: 400;
}

.yt1{
    display: flex;
    align-items: center;
    font-weight: 500;
    color: white;
    margin: 0px; 
    gap: 5px;
    margin-top: 5px;
    font-weight: 400;
}
.yt1 h4{
    margin: 0px;
    font-weight: 400;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-weight: 400;
}
.footer .right{
    text-align: right;
    font-weight: 400;
}
.footer .left{
    text-align: left;
    font-weight: 400;
}

.left{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 20px;
}

.right{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 50px;
}

